:host {
    mat-card {
        mat-card-content {
            mat-radio-group {
                display: inline-flex;
                flex-direction: column;

                mat-radio-button {
                    margin: 5px;   
                    
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }            
        }

        mat-card-actions {
            a {
                margin-left: 15px;
                margin-bottom: 15px;
            }
        }        
    }    
}